<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections/>
  <system.web>
    <!--This will allow compiler to include these resources in compilation-->
    <httpRuntime targetFramework="4.6.1"/>
    <caching>
      <sqlCacheDependency enabled="true">
        <databases>
          <add name="IdealResidencia" connectionStringName="IdealRConStr" pollTime="3000"/>
          <!-- polltime in milliseconds is used by asp .net too see how frequent it should check db and see if cache needs to be expired  -->
        </databases>
      </sqlCacheDependency>
    </caching>
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" defaultUrl="~/Dashboard.aspx" name="FORMSTAUTHCOOKIE" protection="All" timeout="480" slidingExpiration="true"/>
    </authentication>
    <authorization>
      <allow users="*"/>
    </authorization>
    <sessionState mode="SQLServer" allowCustomSqlDatabase="true" sqlConnectionString="IdealRConStrDBsessionstate" timeout="20"/>
    <compilation debug="true"/>
  </system.web>
  <!--location path="Login.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>-->
  <!--Importing connection configuration-->
  <connectionStrings configSource="Configs\ConnectionStrings.config"/>
</configuration>