<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="IdealRConStr" connectionString="Server=./;Database=IdealResidencia;User ID=dev_ideal;Password=idealresidencia" providerName="System.Data.SqlClient"/>
  <add name="IdealRConStrDBsessionstate" connectionString="Server=./;User ID=dev_ideal;Password=idealresidencia" />
</connectionStrings>
